body {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  animation: bgcolor 5s linear 0s infinite normal;
  text-align: center;
}
@keyframes bgcolor {
  0%{
    background-color: #222333;
  }
  50%{
    background-color: #232323;
  }
  100%{
    background-color: #222333;
  }
}
p {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
